body{
  background-color: #166291;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}
.container{
  width: fit-content;
  height: fit-content;
  border: 1px solid #969696a1;
  box-shadow: 0px 0px 10px rgb(0, 0,0,0.8);
  background-color: white;
  border-radius: 8px;
  margin-top: 50%;
  margin-bottom: 10%;
}
.container h3{
  padding: 10px;
  font-size: 34px;
  color: #8b0000;
  font-weight: 600;
  font-family:Arial, Helvetica, sans-serif;
}
.container .fields{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 500px;
  height: 60px;
}
.fields input{
  width: 800px;
  outline: none;
  padding: 10px;
}
.con{
  width: auto;
  height: auto;
  /* border: 1px solid #969696; */
  border-radius: 8px;
  padding: 5px;
  color: rgb(211, 77, 0);
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.con .cover{
  padding: 10px;
  width: 478px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.btnscon button{
  padding: 10px;
  border: 1px solid #78945691;
  border-radius: 5px;
  background-color: cyan;
}
.btnscon button:hover{
  box-shadow: 0px 0px 8px rgb(0, 0,0,0.5);
}
.motu{
  margin-left: 15px;
  padding: 3px;
}
.munna{
  margin-left: 20px;
  font-size: 20px;
}